# Object files
*.o
*.obj

# Libraries
*.lib
*.a

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app

# Arhcives
*.zip

# Visual Studio files
*.opensdf
*.sdf

# Lexer outputs
*.tab.c
*.tab.h
*.yy.c

# Eclipse metadata folder
.metadata/*